@media only screen and (min-width: 800px) and (max-width: 992px) {
  #logo {
    margin-top: 28em;
  }
  #logo img {
    height: 13em;
  }
  #section ul {
    margin-left: 1em;
    padding-top: 0.5em;
    font-size: 1.5em;
    top: -482px;
    right: 5px;
  }
  #section::before {
    top: -50px;
    left: -97px;
    background-size: 180% !important;
  }
  .section-content {
    position: absolute;
    top: 51px;
    left: 83px;
  }
  .section-content p {
    width: 50%;
  }
  #section1, #section5 {
    height: 150vh;
    padding: 2em;
  }
  .imgGal {
    margin-top: 14em;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
  }
  .top {
    grid-column: 1/span 7;
    grid-row: 1;
    padding-top: 93%;
    padding-right: 5%;
    z-index: 1;
    transform: translateX(50%);
  }
  .top img {
    height: 17em;
  }
  .middle {
    grid-column: 3/span 9;
    grid-row: 1;
    padding-top: 23%;
    padding-left: 75%;
    transform: translateX(50%);
  }
  .middle img {
    height: 19em;
  }
  .bottom {
    grid-column: 8/span -1;
    grid-row: 1;
    padding-top: 95%;
    padding-left: 5%;
    z-index: -1;
    transform: translate(50%);
  }
  .bottom img {
    height: 17em;
  }
  hr {
    display: block;
    top: 927px;
    left: 68px;
  }
  .statement {
    display: block;
    top: 857px;
    left: 33px;
  }
  .statePara {
    display: block;
    top: 946px;
    left: 123px;
    width: 45%;
  }
  .imgGal2 {
    margin-top: 16em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }
  .top2 {
    grid-column: 1/span 2;
    grid-row: 1;
    padding-top: 100%;
    z-index: 1;
    transform: translateX(50%);
  }
  .top2 img {
    height: 22em;
  }
  .middle2 {
    grid-column: 3/span 1;
    grid-row: 1;
    padding-left: 30%;
    transform: translateX(50%);
  }
  .middle2 img {
    height: 15em;
  }
  .bottom2 {
    grid-column: 3/span 5;
    grid-row: 1;
    padding-top: 52%;
    z-index: -1;
    transform: translate(50%);
  }
  .bottom2 img {
    height: 18em;
  }
  #section2, #section4, #section6 {
    height: 70vh;
  }
  #section2::before {
    width: 100%;
    height: 70vh;
    background-size: 150% !important;
    background-position: center;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #section4 {
    height: 50vh;
  }
  #section4::before {
    width: 100%;
    height: 70vh;
    background-size: 150% !important;
    background-position-x: -168px !important;
    background-position-y: 65px !important;
    background-repeat: no-repeat !important;
  }
  #section6 {
    height: 50vh;
  }
  #section6::before {
    top: -68px;
    width: 100%;
    height: 100vh;
    background-size: 100% !important;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-text, .hero-text2 {
    padding: 1em;
    top: 30%;
    left: 30%;
  }
  .hero-text h4, .hero-text2 h4 {
    font-weight: 400;
    font-size: 2.5em;
    margin: 0;
  }
  .hero-text p, .hero-text2 p {
    font-size: 1.5em;
  }
  .hero-text button, .hero-text2 button {
    font-size: 1.2em;
  }
  .swiper {
    height: 53vh !important;
  }
  .swiper-slide img {
    height: 250px;
    width: 250px;
  }
  .footer {
    margin-top: 7em;
  }
}/*# sourceMappingURL=media800_992.css.map */