@media only screen and (max-width: 520px) {
  #logo {
    margin-top: 37em;
  }
  #logo img {
    height: 10em;
  }
  #section ul {
    margin-left: 1em;
    padding-top: 0.5em;
    font-size: 1.1em;
    top: -482px;
    right: 5px;
  }
  #section::before {
    top: -50px;
    left: -97px;
    background-size: 200% !important;
  }
  #section1 {
    padding: 2em;
  }
  .section-content {
    top: 0px;
    left: 39px;
  }
  .section-content p {
    font-size: 1em;
    width: 90%;
  }
  .swiper-slide img {
    height: 180px;
    width: 180px;
  }
  .imgGal {
    margin-top: 9em;
    grid-template-columns: repeat(1fr);
  }
  .top {
    grid-row: 1;
    padding-top: 25%;
    z-index: 1;
    transform: translateX(50%);
  }
  .top img {
    margin-top: 0.75em;
    width: 99%;
  }
  .middle {
    grid-row: 2;
    transform: translateX(50%);
  }
  .middle img {
    margin-top: 0.75em;
    width: 99%;
  }
  .bottom {
    grid-row: 3;
    z-index: -1;
    transform: translate(50%);
  }
  .bottom img {
    margin-top: 0.75em;
    width: 99%;
  }
  .hide, .twohr {
    display: none;
  }
  .statement {
    display: none;
  }
  .statePara {
    display: none;
  }
  #section2 {
    height: 56vh !important;
  }
  #section2::before {
    width: 100%;
    min-height: 56vh !important;
    background-size: 164% !important;
    background-position: center;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hero-text {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    position: absolute;
    text-align: center;
    transform: translate(-25%, -20%);
  }
  .hero-text h4 {
    font-weight: 400;
    font-size: 1.3em;
    margin: 0;
  }
  .hero-text p {
    font-size: 1em;
  }
  .hero-text button {
    font-size: 1em;
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    border: solid white 1px;
  }
  .hero-text a {
    color: black;
  }
  .hero-text {
    top: 45%;
    left: 33%;
  }
  .imgGal {
    margin-top: 6em;
    grid-template-columns: repeat(1fr);
    position: relative;
  }
  .imgGal2 {
    width: 60%;
    margin-top: 15em;
    grid-template-columns: repeat(1fr);
    position: relative;
  }
  .top {
    grid-row: 1;
    padding-top: 25%;
    z-index: 1;
    transform: translateX(50%);
  }
  .top img {
    width: 100%;
  }
  .top2 {
    grid-row: 1;
    padding-top: 10%;
    z-index: 1;
  }
  .top2 img {
    width: 100%;
  }
  .middle, .middle2 {
    grid-row: 2;
  }
  .middle img, .middle2 img {
    width: 100%;
    margin-top: 0.75em;
  }
  .middle {
    transform: translateX(50%);
  }
  .bottom, .bottom2 {
    grid-row: 3;
    z-index: -1;
  }
  .bottom img, .bottom2 img {
    width: 100%;
    margin-top: 0.75em;
  }
  .bottom {
    transform: translate(50%);
  }
  #section4 {
    height: 50vh !important;
  }
  #section4::before {
    width: 100%;
    height: 78vh !important;
    background-size: 130% !important;
    background-position-x: -135px !important;
    background-position-y: 192px !important;
    background-repeat: no-repeat !important;
  }
  .hero-text2 {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    transform: translate(-25%, -20%);
  }
  .hero-text2 h4 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
  }
  .hero-text2 p {
    font-size: 1em;
  }
  #section5 {
    padding: 1em;
  }
  #section6 {
    height: 50vh;
  }
  #section6::before {
    top: 150px;
    width: 100%;
    height: 68vh;
    background-size: 140% !important;
    background-position: center;
    background-attachment: fixed;
  }
}/*# sourceMappingURL=mediamax_520.css.map */