// global values
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Jost:wght@200;300;400;500&display=swap");

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-family: "Jost", sans-serif;
}
html {
  overflow: hidden;
  height: 100%;
}
// ********************END OF GLOBAL VALUES *********************

// media queries

@import url("media1460.css");
@import url("media1200_1460.css");
@import url("media992_1200.css");
@import url("media800_992.css");
@import url("media660_800.css");
@import url("media520_660.css");
@import url("mediamax_520.css");

// generic values

$sect-pad: 0.85em 1em;
$sect-marg: 0 0.3em;
$font: "Cormorant Garamond", serif;

// generic values for sections 2,4,6

$s246-trans: translateZ(-0.5px) scale(1.6);
$s246-z: -1;
$hero-bg: rgba(0, 0, 0, 0.253);
$hero-pad: 1em;
$hero-txt-col: white;
$txt-align: center;
$movement: translate(-25%, -20%);
$font-wgt: 400;
$hero-pos: absolute;

//generic values for sections 1,5
$s15-bg: white;
$s15-marg: 1em;
$s15-h3: 2.5em;
$s15-p: 1.1em;
$s15-font-col: #003300;
$s15-state: 3em;
$s15-para: 1.4em;

// generic values for sections 3,7
$s37-bg: #fafafa;
$s37-z: 1;
$s37-of: hidden;

// ****************************************************************

section {
  position: relative;
  min-height: 70vh;
  width: 100%;
  transform-style: inherit;
}

#section {
  z-index: -1;
  position: relative;
  min-height: 80vh;
  width: 100%;
  margin: auto;
  transform-style: inherit;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}
.login a {
  padding: $sect-pad;
  margin: $sect-marg;
}
.search a {
  padding: $sect-pad;
  margin: $sect-marg;
}

.register {
  padding: $sect-pad;
  margin: $sect-marg;
}

#nav-links {
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

#section::before {
  background: url("./images/home_logged.jpg");
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  transform: translateZ(-1px) scale(2.1);
  z-index: -2;
  right: 0;
  bottom: 0;
}

// section content for sections 1&5
.section-content {
  position: absolute;
  right: 0;
  bottom: 0;

  h3 { 
    margin-top: $s15-marg;
    font-size: $s15-h3;
    color: $s15-font-col;
    font-family: $font;
  }
  p {
    font-size: $s15-p;
    color: black;
  }
}

#section1, #section5 {
  background-color: white;
  z-index: 1;
  overflow: hidden;
}
.animate {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.animate.appear {
  opacity: 1;
}

.top,
.bottom,
.middle {
  transition-delay: 350ms;
  transition: transform 1s ease-in;
  opacity: 0;
}

.top.appear {
  transform: translateY(0);
  opacity: 1;
}

.middle.appear {
  transform: translateY(0);
  opacity: 1;
}

.bottom.appear {
  transform: translateY(0);
  opacity: 1;
}

.imgGal,
.imgGal2 {
  display: grid;
  // width: 100%;
  position: relative;
}

hr {
  position: absolute;
  width: 5em;
  color: $s15-font-col;
}

.statement {
  position: absolute;
  font-family: $font;
  font-size: $s15-state;
  color: $s15-font-col;
}
.statePara {
  position: absolute;
  font-family: $font;
  font-size: $s15-para;
}

#section2::before {
  background: url("https://media.architecturaldigest.com/photos/5dc33b204618520008390759/16:9/pass/lights.2.jpgs");
  content: "";
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  transform: $s246-trans;
  z-index: $s246-z;
}

#section3,
#section7 {
  background: $s37-bg;
  z-index: $s37-z;
  overflow: $s37-of;
}

#section4::before {
  background: url("https://hips.hearstapps.com/hmg-prod/images/hbz-candles-index-1597775418.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*");
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  transform: $s246-trans;
  z-index: $s246-z;
}

// section 2, 4 , 6 text styling

.hero-text,
.hero-text2 {
  padding: $hero-bg;
  background-color: $hero-bg;
  color: $hero-txt-col;
  position: $hero-pos;
  text-align: $txt-align;
  transform: $movement;
  font-family: $font;
  h4 {
    font-weight: $font-wgt;
    margin: 0;
  }

  button {
    background-color: $hero-txt-col;
    padding: 0.5em;
    border-radius: 4px;
    border: solid $hero-txt-col 1px;
  }
  a {
    color: black;
  }
}

#section6::before {
  background: url("./images/bg-3.jpg");
  content: "";
  position: absolute;
  display: block;
  transform: $s246-trans;
  z-index: $s246-z;
}

.swiper {
  margin-top: 3em;
  width: 90%;
  height: 65vh;
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  border-radius: 50%;
}

ul {
  list-style: none;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
  background-color: white;
  z-index: 2;
  a {
    color: black;
    text-decoration: none;
  }
}
.footerhr {
  width: 85%;
  margin: auto;
}
.footer a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.links,
.social-icons {
  display: flex;
  align-items: baseline;
}
.social-icons li {
  padding: 1em;
}
.links li {
  padding: 1em;
}

.swiper-slide a {
  color: black;
  font-style: italic;
}